@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Apply the font to the body element */

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-size: 1rem;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  height: 100%;
}

.navigation {
  width: 100%;
  height: 12vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 2rem 0;
}
p {
  font-family: garamond;
  font-size: 22px;
  line-height: normal;
  word-spacing: normal;
  letter-spacing: normal;
}
.navigation img {
  width: 15vh;
  margin-left: 10px;
  position: relative;
  z-index: 11;
}
.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation ul li {
  list-style: none;
  color: #ffffff;
  padding: 14px 24px;
}
ul li a {
  color: #fff;
  display: block;
  font-size: 16px;
  transition: 0.3s linear;
  text-decoration: none !important;
}
ul li a:hover {
  color: #d2a74a;
  transition: 0.3s ease;
}

.header-hamburger-icon {
  width: 100px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  padding-right: 2vw;
  display: none;
}

.header-hamburger-line-1,
.header-hamburger-line-2,
.header-hamburger-line-3 {
  background-color: #d2a74a;
  width: 1.78rem;
  height: 0.2rem;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 10;
}

.header-hamburger-line-1,
.header-hamburger-line-2 {
  margin-bottom: 6px;
}
@media (max-width: 768px) {
  .header-hamburger-icon {
    display: flex;
    cursor: pointer;
  }

  .navigation ul {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 88vh;
    top: 12vh;
    align-items: center;
    justify-content: flex-start;
    transition: right 0.3s ease-in;
    margin: 5px;
    text-align: center;
    /* remove the transform property */
    /* transform: translateX(20%); */
    z-index: 15;
    /* add the right property */
    right: -100%;
  }
  ul li {
    margin-right: 0px;
  }
  ul li a {
    font-size: 16px;
    padding-top: 1rem;
    text-align: center;
    font-weight: 600;
  }
  .show {
    /* remove the transform property */
    /* transform: translateX(0%); */
    transition: right 0.3s ease-in;
    background-color: #000000;
    top: 8vh;
    left: 0;
    height: 90%;
    width: 100%;
    margin-top: -8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* add the right property */
    right: 0;
  }
  .cross .header-hamburger-line-2 {
    opacity: 0;
  }
  .cross .header-hamburger-line-1 {
    transform: rotate(-45deg) translate(-5px, 7px);
  }
  .cross .header-hamburger-line-3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
}

/* swiper slider  */
.swiper-container {
  width: 100%;
  height: 700px;
  position: relative;
  margin-top: 0px;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 0px;
}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 5px;
}

.swiper-pagination-bullet-active {
  background-color: #d2a74a;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 10px;
  margin-top: -10px;
  z-index: 20;
  cursor: pointer;
  color: #d2a74a;
  font-size: 1px; /* Adjust this value to change the font size */
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: transparent;
}

.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px;
}

.swiper-button-next::before {
  transform: rotate(135deg);
}
@media (max-width: 991px) {
  .swiper-container {
    height: 500px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    font-size: 5px;
  }

  .swiper-pagination-bullet {
    display: inline-block;
    width: 6px;
    height: 6px;
  }
}

@media (max-width: 768px) {
  .swiper-container {
    height: 480px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 8px;
    height: 8px;
    color: #f7ae0f;
    font-size: 3px;
  }
}
@media (max-width: 400px) {
  .swiper-container {
    height: 240px;
    width: 100%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 5px;
    font-size: 2px;
    height: 5px;
    color: #f2a807;
  }
}
/* blackgrey */
.blackGrey {
  background: linear-gradient(90deg, #000 50%, #777 50%);
  -webkit-text-size-adjust: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 100px;
  width: 100%;
  display: block;
}
.banner-form,
.banner-temp {
  min-height: 100px;
  height: 100px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 20px;
}
.banner-temp {
  height: 100px;
  font-size: 16px;
}
.timeTemp {
  display: inline-block;
  text-align: left;
  padding: 25px 25px 25px 0;
  color: #ffffff;
}
.timeTemp p {
  font-size: 16px !important;
  line-height: 1.42857143;
}
.uganda-time {
  margin-right: 10px;
}

form {
  display: block;
  margin-top: 0em;
}
form > input {
  font-family: garamond;
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
  padding: 0px 10px 0px 10px;
  height: 30px;
  text-transform: uppercase;
  width: 100px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 7px;
  margin-left: 0;
  font-size: 1rem;
  z-index: 1;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
}
form > input[type="date"] {
  width: 130px;
  font-family: dosis;
  color: #777;
}
form > input:not(:first-child) {
  margin-right: 7px;
  margin-left: 8px;
}
form > input[type="date" i] {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-inline-start: 1px;
  cursor: default;
  overflow: hidden;
  padding: 0px;
}
form > input[type="number" i] {
  padding: 1px 2px;
}
.but[type="submit"] {
  background-color: #000;
  border: none;
  outline: none;
  color: #fff !important;
  height: 30px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 14px;
  font-family: dosis;
  display: inline-block;
}
.noPad {
  padding: 0 !important;
}
@media (max-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 970px;
  }
  form {
    display: none;
  }
}
@media (max-width: 768px) {
  .container {
    width: 750px;
  }
  form {
    display: none;
  }
}
/* -------reservations------------------- */
.bg-black {
  background-color: #000;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.rollover-parent {
  background-color: #fff;
  transition: 0.3s;
}
.home-rollover:first-child {
  border-width: 7px 0;
}
.home-rollover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.home-rollover {
  height: 420px;
  width: 100%;
  background-color: orange;
  display: flex;
  position: relative;
  border: solid #fff;
  border-width: 0 0 7px;
  transition: 0.3s;
  background-position: cover;
}
.home-rollover {
  opacity: 0.5;
  transition: 0.3s;
}
.home-rollover:hover {
  opacity: 1;
  transition: 0.3s;
}
.home-rollover:hover .home-button {
  border: solid #fff 3px;
  transition: 0.3s;
}
.home-button {
  color: #fff;
  padding: 20px;
  text-align: center;
  display: inline-block;
  background-color: #000;
  border: solid transparent 3px;
  cursor: pointer;
  margin: auto;
  width: 320px;
  max-width: 75%;
}
.home-button a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  font-weight: 300;
  text-transform: uppercase;
  outline: 0;
  font-size: 25px;
  line-height: 1.1;
}
@media (min-width: 992px) {
  .col-md-4 {
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-4 {
    float: left;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
  }
}

section {
  display: block;
}
@media screen and (max-width: 768px) {
  .home-rollover {
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .home-button {
    padding: 10px;
  }
}
@media only screen and (max-width: 496px) {
  .h3,
  h3 {
    font-size: 145% !important;
  }
}
/* ====================image slider 2========== */
.slider-box {
  text-align: center;
  padding: 0 40px;
}
.container {
  width: 100%;
}

.logo-carousel {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.logo-carousel .slide > img {
  width: calc(100% - 30px);
  max-width: 900px;
  height: auto;
  margin: 0 15px;
}

.slick-slider {
  width: 100%;
  margin: 0;
}

.slick-slide img {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
}

/* scroll button to top */
#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #d2a74a;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#scroll-to-top:hover {
  background-color: #777;
}
/* the footer starts from here */
#footer {
  background-color: #000;
  color: #00facc;
  border-top: solid #fff 7px;
}
.padBottom2em {
  padding-bottom: 2em;
}
.padTop3em {
  padding-top: 3em;
}
.awards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.awards img {
  padding-left: 15px;
  padding-right: 15px;
}
#footer p {
  font-size: 14px;
  line-height: 150%;
}
.footer-left {
  font-size: 16px;
}
.margBottom2em {
  margin-bottom: 1em;
  line-height: 1.5;
  font-family: monospace;
}
#footer li,
#footer li a {
  text-transform: uppercase;
  color: #fff;
}
#footer a {
  color: #05ffd1;
  text-decoration: none;
}
.footerList {
  list-style: none;
}
.footerList > ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
.unset-transform {
  text-transform: none;
}

@media (min-width: 992px) {
  .col-md-4 {
    width: 33.33333333%;
    float: left;
  }
}
/* styling for the top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #d2a74a;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  -webkit-position: fixed;
  -moz-position: fixed;
  -ms-position: fixed;
}

#myBtn:hover {
  background-color: #777;
  color: #fff;
}

@media (max-width: 768px) {
  #myBtn {
    display: block;
    bottom: 15px;
  }
}

/* styling for the services page starts from here */
.rsContainer {
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 0px;
  overflow: hidden;
  padding: 0px;
}
.rsContent {
  width: 100%;
  height: 100%;
  position: relative;
}

.rsContent > .rsImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  border: 0;
  overflow-clip-margin: content-box;
  overflow: clip;
}
img.rsImg {
  max-width: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .rsContainer {
    width: 100%;
    height: 480px;
    position: relative;
  }
  .rsContent > .rsImg {
    width: 100%;
    height: 480px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .rsContainer {
    width: 100%;
    height: 450px;
    position: relative;
  }
  .rsContent > .rsImg {
    width: 100%;
    height: 450px;
    margin: 0;
  }
}
@media (max-width: 400px) {
  .rsContainer {
    height: 240px;
    width: 100%;
  }
  .rsContent {
    width: 100%;
    height: 100%;
  }
  .rsContent > .rsImg {
    width: 100% !important;
    height: 240px;
    text-align: center;
    margin: 0;
  }
}
.bg-lightgrey {
  background-color: #edeeec;
}
.menulinkdiv {
  display: inline-block;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.menulinkdiv a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background-color: transparent;
  outline: 0;
  font-weight: 300;
}

a:focus {
  color: #111212;
}
.menulinkdiv a:hover {
  border-bottom: solid hsl(0, 0%, 0%) 1px;
}
.menusublinks {
  text-align: center;
}
.menulinkdiv:not(:last-child):after {
  content: "|";
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0 20px;
}
.margBottom3em {
  margin-bottom: 0em;
}
.container-fluid:before {
  display: table;
  content: " ";
}
.button1 {
  font-size: 1rem;
  color: #000 !important;
  background-color: #f2a807;
  padding: 4px 70px;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}
.button1:hover {
  background-color: #f9c450;
}
/* 
the styling for the gallery */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
  color: red;
}
.slick-slide img {
  max-width: 100%;
  height: auto;
  display: block;
}
.gallery-img img {
  max-height: 600px;
  margin: auto;
}
.gallery-img {
  text-align: center;
}
.uppercase {
  font-family: garamond;
  font-size: 130%;
}
.biggest {
  font-size: 200% !important;
  font-family: cormorant;
}
/* styling for the reservation form */
.reservation {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.reservation h2 {
  text-align: center;
  margin-bottom: 40px;
}

.reservation-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: garamond;
}

.form-group input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-group .required {
  color: #ff0000;
}

.form-group .btn {
  display: block;
  width: 100%;
  background-color: #0071c5;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 15px 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.form-group .btn:hover {
  background-color: #005;
}
@media (max-width: 992px) {
  .reservation {
    display: block;
  }
  .reservation-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
  }
  .form-group input {
    display: block;
    width: 600px;
    height: 50px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .reservation {
    display: block;
  }
  .reservation-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
  }
  .form-group input {
    display: block;
    width: 300px;
    height: 50px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
}
