@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  height: 100%;
}

.navigation {
  width: 100%;
  height: 12vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 2rem 0;
}
.navigation img {
  width: 15vh;
  margin-left: 10px;
  position: relative;
  z-index: 11;
}
.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation ul li {
  list-style: none;
  color: #ffffff;
  padding: 14px 24px;
}
ul li a {
  color: #fff;
  display: block;
  font-size: 16px;
  transition: 0.3s linear;
  text-decoration: none !important;
}
ul li a:hover {
  color: #d2a74a;
  transition: 0.3s ease;
}

.header-hamburger-icon {
  width: 100px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  padding-right: 2vw;
  display: none;
}

.header-hamburger-line-1,
.header-hamburger-line-2,
.header-hamburger-line-3 {
  background-color: #d2a74a;
  width: 1.78rem;
  height: 0.2rem;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 10;
}

.header-hamburger-line-1,
.header-hamburger-line-2 {
  margin-bottom: 6px;
}
@media (max-width: 850px) {
  .header-hamburger-icon {
    display: flex;
    cursor: pointer;
  }

  .navigation ul {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 88vh;
    top: 12vh;
    align-items: center;
    justify-content: flex-start;
    transition: right 0.3s ease-in;
    margin: 5px;
    text-align: center;
    transform: translateX(20%);
    z-index: 15;
  }
  ul li {
    margin-right: 0px;
  }
  ul li a {
    font-size: 16px;
    padding-top: 1rem;
    text-align: center;
    font-weight: 600;
  }
  .show {
    transform: translateX(0%);
    transition: right 0.3s ease-in;
    background-color: #000000;
    top: 8vh;
    left: 0;
    height: 90%;
    width: 100%;
    margin-top: -8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .cross .header-hamburger-line-2 {
    opacity: 0;
  }
  .cross .header-hamburger-line-1 {
    transform: rotate(-45deg) translate(-5px, 7px);
  }
  .cross .header-hamburger-line-3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
}
/* swiper slider  */
.swiper-container {
  width: 100%;
  height: 700px;
  position: relative;
  margin-top: 0px;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 0px;
}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 5px;
}

.swiper-pagination-bullet-active {
  background-color: #d2a74a;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 10px;
  margin-top: -10px;
  z-index: 10;
  cursor: pointer;
  color: #d2a74a;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: transparent;
}

.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px;
}

.swiper-button-next::before {
  transform: rotate(135deg);
}
@media (min-width: 768px) and (max-width: 991px) {
  .swiper-container {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .swiper-container {
    height: 480px;
  }
}
@media (max-width: 400px) {
  .swiper-container {
    height: 240px;
    width: 100%;
  }
}
/* blackgrey */
.blackGrey {
  background: linear-gradient(90deg, #000 50%, #777 50%);
}
.banner-form,
.banner-temp {
  min-height: 100px;
  height: 100px;
  font-size: 16px;
}
.banner-temp {
  height: 100px;
}
.timeTemp {
  display: inline-block;
  text-align: left;
  padding: 25px 25px 25px 0;
  color: #ffffff;
}
.timeTemp p {
  font-size: 16px;
  line-height: 1.42857143;
}
.kampala-time {
  margin-right: 10px;
}
form {
  display: block;
  margin-top: 0em;
}
form > input {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
  padding: 0px 10px 0px 10px;
  height: 30px;
  text-transform: uppercase;
  width: 100px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 7px;
  margin-left: 0;
  font-size: 13px;
  z-index: 1;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}
form > input[type="date"] {
  width: 130px;
  font-family: "Open Sans", sans-serif;
  color: #777;
}
form > input:not(:first-child) {
  margin-right: 7px;
  margin-left: 8px;
}
form > input[type="date" i] {
  font-family: monospace;
  padding-inline-start: 1px;
  cursor: default;
  overflow: hidden;
  padding: 0px;
}
form > input[type="number" i] {
  padding: 1px 2px;
}
.but[type="submit"] {
  background-color: #000;
  border: none;
  outline: none;
  color: #fff !important;
  height: 30px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 7px;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
}
/* -------reservations------------------- */
.bg-black {
  background-color: #000;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.rollover-parent {
  background-color: #fff;
  transition: 0.3s;
}
.home-rollover:first-child {
  border-width: 7px 0;
}
.home-rollover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.home-rollover {
  height: 420px;
  width: 100%;
  background-color: orange;
  display: flex;
  position: relative;
  border: solid #fff;
  border-width: 0 0 7px;
  transition: 0.3s;
  background-position: cover;
}
.home-rollover {
  opacity: 0.5;
  transition: 0.3s;
}
.home-rollover:hover {
  opacity: 1;
  transition: 0.3s;
}
.home-rollover:hover .home-button {
  border: solid #fff 3px;
  transition: 0.3s;
}
.home-button {
  color: #fff;
  padding: 20px;
  text-align: center;
  display: inline-block;
  background-color: #000;
  border: solid transparent 3px;
  cursor: pointer;
  margin: auto;
  width: 320px;
  max-width: 75%;
}
.home-button a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  font-weight: 300;
  text-transform: uppercase;
  outline: 0;
  font-size: 25px;
  line-height: 1.1;
}
@media screen and (max-width: 768px) {
  .home-rollover {
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .home-button {
    padding: 10px;
  }
}
@media only screen and (max-width: 496px) {
  .h3,
  h3 {
    font-size: 145% !important;
  }
}
